In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/Mainaki Saraf/Desktop/Sem 5/DA/Project/Dataset/Sample_NaStreet_Removed.csv")

In [5]:
df.shape

(1079918, 50)

In [10]:
df.head(2)

,Unnamed: 0,Unnamed: 0.1,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,...,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Vio_Time,Latitude,Longitude,count,Hour
0,0,10181267,1417714839,DJR2559,NY,PAS,2017-05-12,46,SUBN,FORD,...,NaN,NaN,NaN,NaN,NaN,2019-10-26 13:34:00,40.6198682,-74.1594015,1,13.0
1,1,5276368,8471209986,XEDS80,NJ,PAS,2016-10-04,19,DELV,FRUEH,...,032,19-No Stand (bus stop),NaN,NaN,NaN,2019-10-26 09:49:00,40.81241989999999,-73.96053429999999,1,9.0

In [15]:
df = df[(df['Latitude']!='n') & (df['Longitude']!='o')]

In [28]:
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float)

In [29]:
print("Initial latitude range",max(df['Latitude']),min(df['Latitude']))
print("initial longitude range",max(df['Longitude']),min(df['Longitude']))

Initial latitude range 54.09518 -33.790362
initial longitude range 151.081731 -124.0932273

In [30]:
min_lon =-79.762152
max_lon =-71.856214
min_lat =40.496103
max_lat =45.01585

In [33]:
df = df[(df['Latitude']>=min_lat) & (df['Latitude']<=max_lat) & (df['Longitude']>=min_lon) & (df['Longitude']<=max_lon)]

In [34]:
print("Final latitude range",max(df['Latitude']),min(df['Latitude']))
print("Final longitude range",max(df['Longitude']),min(df['Longitude']))

Final latitude range 44.9304742 40.4994849
Final longitude range -71.8823322 -79.756193

In [35]:
df.shape

(1075092, 50)

In [36]:
df.to_csv('bounded box data.csv')