In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import pickle
import math

In [3]:
df = pd.read_csv("Dataset/ParkingData_Month_Time_Week.csv")

In [4]:
df.shape

(1075077, 57)

In [5]:
df.head(2)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,...,Vio_Time,Latitude,Longitude,count,Hour,Day,Day_Num,Issue Month,Vio_Hour,Time_Num
0,0,0,0,10181267,1417714839,DJR2559,NY,PAS,2017-05-12 00:00:00,46,...,2019-10-26 13:34:00,40.619868,-74.159402,1,13.0,Friday,4,5,13,2
1,1,1,1,5276368,8471209986,XEDS80,NJ,PAS,2016-10-04 00:00:00,19,...,2019-10-26 09:49:00,40.812420,-73.960534,1,9.0,Tuesday,1,10,9,1

In [6]:
data = df[['Latitude','Longitude','count','Day_Num','Issue Month','Time_Num']]

In [7]:
data.head(2)

    Latitude  Longitude  count  Day_Num  Issue Month  Time_Num
0  40.619868 -74.159402      1        4            5         2
1  40.812420 -73.960534      1        1           10         1

In [8]:
k = int(math.sqrt(len(data)//2))

Clustering based only on Latitude and Longitude

In [9]:
# Rule of thumb for k: sqrt(n/2); here n is 112390 - total no. of NYC events
kmeans = KMeans(n_clusters=k, init='k-means++')

# Compute the clusters based on longitude and latitude features
X_sample = x_train[['Longitude','Latitude']].sample(frac=0.1)
kmeans.fit(X_sample)
y = kmeans.labels_
print("k = ",k, " silhouette_score ", silhouette_score(X_sample, y, metric='euclidean'))

NameError: name 'x_train' is not defined

In [10]:
pickle.dump(kmeans, open("kmeans1.pkl", "wb"))

In [15]:
f = open("kmeans1.pkl","rb")
kmeans=pickle.load(f)

In [16]:
data['street'] = df['Street Name']

C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
for i in kmeans:
    print(i)

TypeError: 'KMeans' object is not iterable

In [17]:
predicted_cluster = kmeans.predict(np.array([40.77,-74.15]).reshape(1,-1))[0]
# Fetch the venue name of the top most record in the topvenues dataframe for the predicted cluster
venue_name = data[data['cluster']==predicted_cluster]
print(venue_name)

NotFittedError: This KMeans instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

Cluster based on all params

In [ ]:
# Rule of thumb for k: sqrt(n/2); here n is 112390 - total no. of NYC events
kmeans = KMeans(n_clusters=k, init='k-means++')

# Compute the clusters based on longitude and latitude features
X_sample = data[['Longitude','Latitude','Day_Num','Issue Month','Time_Num']].sample(frac=0.1)
kmeans.fit(X_sample)
y = kmeans.labels_
print("k = ",k, " silhouette_score ", silhouette_score(X_sample, y, metric='euclidean'))

In [27]:
pickle.dump(kmeans, open("kmeans3.pkl", "wb"))

In [21]:
f = open("kmeans2.pkl","rb")
kmeans=pickle.load(f)

C:\Users\Richa\Anaconda3\lib\site-packages\sklearn\base.py:253: UserWarning: Trying to unpickle estimator KMeans from version 0.20.0 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [23]:
data['cluster']=kmeans.predict(data[['Longitude','Latitude','Day_Num','Issue Month','Time_Num']])

C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
predicted_cluster = kmeans.predict(np.array([40.61,-74.15,4,5,2]).reshape(1,-1))[0]
# Fetch the venue name of the top most record in the topvenues dataframe for the predicted cluster
venue_name = data[data['cluster']==predicted_cluster]
print(venue_name)

         Latitude  Longitude  count  Day_Num  Issue Month  Time_Num  \
101663  41.086828 -72.415022      1        5            7         0
151005  41.016211 -72.159244      1        6            7         0
182582  41.086828 -72.415022      1        5            8         0
479441  41.086828 -72.415022      1        6            7         1
825912  41.086828 -72.415022      1        5            6         0

               street  cluster
101663      127th Ave      664
151005  Washington St      664
182582   W Fordham Rd      664
479441    Falmouth St      664
825912     DYCKMAN ST      664

In [ ]:
predicted_cluster

In [ ]:
 set(data['cluster'])

In [28]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,...,Vio_Time,Latitude,Longitude,count,Hour,Day,Day_Num,Issue Month,Vio_Hour,Time_Num
0,0,0,0,10181267,1417714839,DJR2559,NY,PAS,2017-05-12 00:00:00,46,...,2019-10-26 13:34:00,40.619868,-74.159402,1,13.0,Friday,4,5,13,2
1,1,1,1,5276368,8471209986,XEDS80,NJ,PAS,2016-10-04 00:00:00,19,...,2019-10-26 09:49:00,40.812420,-73.960534,1,9.0,Tuesday,1,10,9,1
2,2,2,2,9933245,1422423955,DC9W141,TX,PAS,2017-05-16 00:00:00,21,...,2019-10-26 08:11:00,40.856808,-73.889938,1,8.0,Tuesday,1,5,8,1
3,3,3,3,3597579,4623592716,GLA8138,NY,PAS,2016-09-19 00:00:00,36,...,2019-10-26 11:49:00,40.591104,-73.983208,1,11.0,Monday,0,9,11,1
4,4,4,4,1475977,7768684643,88074MC,NY,COM,2016-10-15 00:00:00,21,...,2019-10-26 08:38:00,40.735556,-73.986593,1,8.0,Saturday,5,10,8,1