In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
import folium
import requests

In [2]:
df = pd.read_csv("C:/Users/Mainaki Saraf/Desktop/Sem 5/DA/Project/Dataset/Sample_data_2017.csv")

In [7]:
df.columns

Index(['Unnamed: 0', 'Summons Number', 'Plate ID', 'Registration State',
       'Plate Type', 'Issue Date', 'Violation Code', 'Vehicle Body Type',
       'Vehicle Make', 'Issuing Agency', 'Street Code1', 'Street Code2',
       'Street Code3', 'Vehicle Expiration Date', 'Violation Location',
       'Violation Precinct', 'Issuer Precinct', 'Issuer Code',
       'Issuer Command', 'Issuer Squad', 'Violation Time',
       'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [22]:
df.iloc[:,25:30].head()

,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division
0,REGIS DRIVE,NaN,0,408,F1
1,Broadway,NaN,0,408,c3
2,E 187TH ST,NaN,0,408,D1
3,SB BAILEY AVE @ W 22,5TH ST,0,1180,B
4,E 17th St,NaN,0,408,d1

In [55]:
#function to get latitude and logitude based on Street Name using Geocoding API
def get_lat_lon(street_name):
    response = requests.get("https://maps.googleapis.com/maps/api/geocode/json?address="+street_name+"&key="+API_KEY)
    lat = response.json().get('results')[0].get('geometry').get('location').get('lat')
    lon = response.json().get('results')[0].get('geometry').get('location').get('lng')
    return(lat,lon)

In [15]:
#function to generate basic map of New York
def generateBaseMap(default_location=[40.693943, -73.985880], default_zoom_start=12):
    base_map = folium.Map(location=default_location, control_scale=True, zoom_start=default_zoom_start)
    return base_map

In [16]:
#call for map plotting
base_map = generateBaseMap()
base_map